talos-prod-talos-prod-1.yaml
talos-prod-talos-prod-2.yaml
talos-prod-talos-prod-3.yaml
talosconfig
talos-prod-talos-prod-master-1.yaml
talos-prod-talos-prod-master-2.yaml
talos-prod-talos-prod-master-3.yaml
talos-prod-talos-prod-worker-1.yaml
talos-prod-talos-prod-worker-2.yaml
talos-prod-talos-prod-worker-3.yaml
